<div class="container">

    <h1></h1>
    <button class="accordion">
        <h2>Mi Biografia</h2>
    </button>
    <div class="panel">
        <p>Mi nombre es Daniela Alexandra Rodríguez Rodríguez, nací el 31 de agosto de 2002 en Tegucigalpa M.D.C.
            Mis padres, Norma Deciree Rodríguez Mendoza y Alexis Donato Rodríguez Rodríguez, me dieron el nombre que
            llevo con orgullo. Desde temprana edad, mostré un interés activo por descubrir el mundo que me rodea, y
            mi vida ha sido una continua exploración llena de curiosidad y entusiasmo.</p>
        <p>Actualmente, tengo 21 años y estoy cursando el último año de mi carrera de Ingeniería en Ciencia de la
            Computación en la Universidad Católica de Honduras. Mi trayectoria académica comenzó en el Jardín de niños
            Marcelino Castellanos a los 6 años, y desde entonces, me he destacado en mis estudios. En la Escuela
            Francisco "Morazán", recibí reconocimientos por mi desempeño académico desde el segundo hasta el sexto
            grado de primaria.</p>
        <p>A los 12 años, ingresé al Instituto Polivalente "Oropolí", donde obtuve mi título de Bachillerato
            Técnico en Informática. A los 19 años, inicié mi emocionante viaje universitario en la Universidad
            Católica de Honduras, donde actualmente estoy a punto de concluir mi carrera.</p>
        <p>Fuera del ámbito académico, soy una persona amable y responsable, aunque un poco tímida al conocer
            a nuevas personas. Disfruto de momentos de calidad en familia y encuentro satisfacción en la lectura
            y en ver series o películas. Mi amor por la naturaleza, especialmente los atardeceres, siempre me
            impulsa a buscar nuevas formas de crecer y mejorar. En el año 2025, planeo iniciar mi práctica
            profesional, marcando un nuevo capítulo en mi vida.</p>
    </div>

    <button class="accordion">
        <h2>Contacto</h2>
    </button>
    <div class="panel">

        <ul>
            <li><a href="mailto:danielaalexandra718@gmail.com">Email</a></li>
            <li><a href="https://github.com/Dani-31">GitHub</a></li>
            <li><a href="tel:+50488786664">Teléfono</a></li>
        </ul>
    </div>
</div>